@model string
<div class="widget-header with-footer">
    <span class="widget-caption">@Model</span>
    <div class="widget-buttons">
        <a href="#" data-toggle="maximize">
            @Html.IconFonts("fa-expand")
        </a>
        <a href="#" data-toggle="collapse">
            @Html.IconFonts("fa-minus")
        </a>
    </div>
</div>
