@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>登录</title>
    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Basic Styles-->
    @*<link href="~/Content/css/bootstrap-3.2.0.css" rel="stylesheet" />*@
    <link href="~/Content/css/bootstrap-3.3.6.css" rel="stylesheet" />
    <!--Fonts-->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/typicons.css" rel="stylesheet" />
    <!--Reloadsoft styles-->
    <link href="~/Content/css/reload.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="~/Scripts/skins.js"></script>
    <style type="text/css">
        body:before {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background-color: #eee;
            background: url('/Content/img/DenLu.jpg');
        }

        body {
            min-width: 1300px;
        }
        .titleStyle {
            font: 18px;
            font-size: 40px;
            color: whitesmoke;
            font-style: initial;
            font-family: inherit;
            font-weight: bold;
            letter-spacing: 10px;
        }
    </style>
</head>
<!--Head Ends-->
<!--Body-->
<body>

    @using (Html.BeginForm())
    {

        <div style=" text-align:center; margin-top:50px;">

            @*<img src="~/Content/img/BT.png" />*@
            <span class="titleStyle">凉城信息服务系统</span>
        </div>
        <div style="float: left; background: url(/Content/img/Denlu1.jpg) no-repeat; margin-left:20%; height:70%; width:60%; margin-top:100px;">

            <div class="login-container animated fadeInDown" style="margin-left:60%;margin-top:30px">

                <div class="loginbox bg-white">
                    <div class="loginbox-title">系统登录</div>
                    <div class="loginbox-textbox">
                        <input type="text" class="form-control" name="UserName" placeholder="UserName" />
                    </div>
                    <div class="loginbox-textbox">
                        <input type="password" class="form-control" name="Password" placeholder="Password" />
                    </div>
                    <div class="loginbox-forgot">
                        <a href="">忘记密码?</a>
                    </div>
                    <div class="loginbox-submit">
                        <input type="submit" class="btn btn-primary btn-block" value="登录">
                    </div>
                </div>
                <div class="logobox">
                    @Html.ValidationMessage("UserName")
                </div>
            </div>

        </div>

    }

    <!--Basic Scripts-->
    <script src="~/Scripts/jquery-1.12.0.js"></script>
    <script src="~/Scripts/bootstrap-3.3.6.js"></script>
    <!--Beyond Scripts-->
    <script src="~/Scripts/reload.js"></script>

</body>
<!--Body Ends-->
</html>
