@model string
<link rel="stylesheet" type="text/css" href="/Content/flexpaper/css/flexpaper.css" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Content/flexpaper/js/flexpaper.js"></script>
<script type="text/javascript" src="/Content/flexpaper/js/flexpaper_handlers.js"></script>
<style type="text/css" media="screen">
    html, body { height: 100%; }
    body { margin: 0; padding: 0; overflow: auto; }
    #flashContent { display: none; }
</style>
<div style="">
    <div id="documentViewer" class="flexpaper_viewer" style="width:936px;height:600px;margin:0 auto;text-align:center"></div>
    <script type="text/javascript">
        var startDocument = "Paper";

        $('#documentViewer').FlexPaperViewer(
                {
                    config: {
                        //SWFFile: '/test4/pdf/dddd.swf',
                        SWFFile:'@Model',
                        jsDirectory: '/Content/flexpaper/js/',
                        Scale: 1,
                        ZoomTransition: 'easeOut',
                        ZoomTime: 0.5,
                        ZoomInterval: 0.2,
                        FitPageOnLoad: true,
                        FitWidthOnLoad: true,
                        FullScreenAsMaxWindow: false,
                        ProgressiveLoading: false,
                        MinZoomSize: 0.2,
                        MaxZoomSize: 5,
                        SearchMatchAll: false,
                        InitViewMode: 'Portrait',
                        RenderingOrder: 'flash',
                        StartAtPage: '',

                        ViewModeToolsVisible: true,
                        ZoomToolsVisible: true,
                        NavToolsVisible: true,
                        CursorToolsVisible: true,
                        SearchToolsVisible: true,
                        WMode: 'window',
                        localeChain: 'en_US'
                    }
                }
        );
    </script>
</div>