<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="RollingFileAppender" />-->
      <appender-ref ref="AdoNetAppender" />
    </root>
    <!--按文件大小与个数建立日志文件-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Log4net\log_" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志开始的文字说明-->
        <header value="——*——*——*——*——*——Begin——*——*——*——*——*——&#13;&#10;" />
        <!--输出格式-->
        <conversionPattern value="记录时间：%d%n线程ID：%t%n日志等级：%-5p%n日志类型：%c%n%m%n" />
        <!--每条日志末尾的文字说明-->
        <footer value="——*——*——*——*——*——E n d——*——*——*——*——*——&#13;&#10;&#13;&#10;" />
      </layout>
    </appender>
    
    <!--定义输出到数据库中-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=.;Initial Catalog=Cupcake;User ID=sa;Password=reload"/>
      <commandText value="INSERT INTO Logs ([Level],[Logger],[Message],[CreateDate],[UpdateDate],[IsDelete],[Ip],[CreatorId],[StackTrace]) VALUES (@logLevel, @logger,@message,@createDate,@updateDate,@isDelete,@ip,@creator,@stackTrace)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@logLevel" />
        <dbType value="String" />
        <size value="240" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="240" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@createDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@updateDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@isDelete" />
        <dbType value="String" />
        <size value="240" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="0" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ip" />
        <dbType value="String" />
        <size value="240" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Ip}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@creator" />
        <dbType value="String" />
        <size value="240" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{creator}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@stackTrace" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{stackTrace}" />
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>