@model string
<input type="hidden" value="error" />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img src="~/Content/img/403.jpg" width="400" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>@ViewBag.Message</span>
        </div>
    </div>
</div>
