<input type="hidden" value="error" />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img src="~/Content/img/404.jpg" width="400" />
        </div>
    </div>
</div>

@*<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Error 404 - Page Not Found</title>

    <meta name="description" content="Error 404 - Page Not Found" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="~/Content/css/bootstrap-3.3.6.css" rel="stylesheet" />
    <link href="~/Content/css/reload.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
</head>
<body class="body-404">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>404</h1>
            <div class="error-divider">
                <h2>页面未找到</h2>
            </div>
            <a href="javascript:history.go(-1);void 0;" class="return-btn"><i class="fa fa-reply"></i>返回</a>
        </section>
    </div>
</body>
</html>*@
