<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.ButtonShiny("添加遮盖物", "fa-plus", "window.open('/Map/Add');")
        </div>
        <div class="col-md-2">
            @Html.ButtonShiny("编辑遮盖物", "fa-edit", "window.open('/Map/Edit');")
        </div>
    </div>
</div>