/*问卷调查Index CSS*/
body {
    font-family: "微软雅黑";
}

a li {
    color: #333;
}

    a li:link {
        text-decoration: none;
    }

a:hover {
    text-decoration: none !important;
}

    a:hover li {
         box-shadow: #666 0px 0px 10px;
        border-top: 1px solid #717171;
        border-left: 1px solid #717171;
        border-bottom: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        font-size: 18px !important;
        color: #4e95f8;
    }

ul.wenj_dcha li:hover {
    background: url(/Content/dian.png) 10px center no-repeat #fff;
}

.wenj_dcha {
    width: 90%;
    margin: 40px 60px 60px 60px;
    background: #F0F8FF;
}

    .wenj_dcha li {
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        background: url(/Content/dian.png) 10px center no-repeat;
        border-bottom: solid 1px #ccc;
        padding-left: 25px;
        margin-left: -40px;
    }
/*问卷调查Index CSS*/

/*问卷调查QuestionInfo CSS*/
.title {
    color: #1C86EE;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.desc {
    margin: 30px 0 30px 20px;
    padding-bottom: 11px;
    border-bottom: dashed 1px;
    font-size:15px;
}

em {
    font-style: normal;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    margin-top: -8px;
}

.dc_wenj {
    padding: 50px 20px 30px;
    border: solid 1px #ccc;
    margin: 30px auto 30px;
    box-shadow: #666 0px 0px 10px;
}

    .dc_wenj h1 {
        padding: 40px 0;
        text-align: center;
        border-top: solid 1px #575757;
    }

.question {
    background: #F0F8FF;
    padding: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}

.all_redios {
    line-height: 30px;
    padding-left: 12px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
}

    .all_redios em {
        font-size: 16px;
    }

    .all_redios label {
        font-size: 14px;
        margin-right: 20px;
    }

    .all_redios input {
        width: 20px;
        height: 20px;
        position: relative;
        top: 4px;
        margin-right: 2px;
    }

.checkbox_list {
    padding-left: 15px;
}

    .checkbox_list input {
        height: 20px;
        top: 5px;
        position: relative;
        width: 20px;
    }

    .checkbox_list span {
        margin-left: 3px !important;
    }

.shuru textarea {
    padding: 10px;
    margin: 20px 0px 15px 15px;
    outline: none;
    resize: none;
    width: 98% !important;
    height: 120px;
}

.col-xs-12 {
    text-align: center;
    margin: auto;
}

    .col-xs-12 button {
        background: #1C86EE;
        border: none;
        margin: 0px 39px;
        margin-top: 30px;
        font-size: 16px;
        border-radius: 5px;
        font-weight: bold;
        color: #ffffff;
        height: 30px;
        width: 70px;
    }

/*问卷调查QuestionInfo CSS*/
