<ul class="nav sidebar-menu">
    <li>
        <a href="#">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> 该用户未配置角色权限 </span>
        </a>
    </li>
</ul>